@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i|Quicksand');
/* Fonts */
body {
    font-size: 100%;
}
h1 {
  font-size: 3em; /* 48 / 16 */
}
h2 {
  font-size: 2.25em; /* 36 / 16 */
}
h3 {
  font-size: 1.5em; /* 24 / 16 */
}
h4 {
  font-size: 1.3125em; /* 21 / 16 */
}
h5 {
  font-size: 1.125em; /* 18 / 16 */
}
h6 {
  font-size: 1em; /* 16 / 16 */
}


p {
  font-size: 1em; /* 16 / 16 */
  font-family: 'Quicksand', sans-serif;
}
h1,h2,h3 {
  font-family: 'Bitter', serif;
}
